@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-editor {
  outline: none !important;
}

.mockup-code pre:before {
  margin-right: 0 !important;
}

@layer base {
  .recipe-md ul {
    list-style: disc outside none;
    @apply px-4 my-1;
  }

  .recipe-md a {
    @apply text-blue-500;
  }

  .projects-home-container {
    @apply flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 mt-4 gap-4;
  }

  body {
    @apply bg-base-200 dark:bg-base-100;
  }
}

@layer utilities {
  hr {
    @apply h-0.5;
  }

  .recipe-container-box {
    @apply bg-white dark:bg-slate-800 cursor-pointer;
  }
}

/* 
https://www.npmjs.com/package/react18-json-view
https://github.com/YYsuni
JSON view changer 
*/

.json-view {
  --json-property: #009033;
  --json-index: #676dff;
  --json-number: #676dff;
  --json-string: #c77b1e;
  --json-boolean: #dc155e;
  --json-null: #dc155e;
}
.json-view .json-view--property {
  color: var(--json-property);
}
.json-view .json-view--index {
  color: var(--json-index);
}
.json-view .json-view--number {
  color: var(--json-number);
}
.json-view .json-view--string {
  color: var(--json-string);
}
.json-view .json-view--boolean {
  color: var(--json-boolean);
}
.json-view .json-view--null {
  color: var(--json-null);
}
.json-view:hover > .json-view--copy {
  display: inline-block;
  color: white;
}
.json-view .json-view--pair:hover > .json-view--copy {
  display: inline-block;
}
.json-view .json-view--copy {
  display: none;
  width: 1em;
  height: 1em;
  margin-left: 4px;
  vertical-align: -11%;
  cursor: pointer;
}

.json-view .jv-indent {
  padding-left: 2em;
}
.json-view .jv-chevron {
  display: inline-block;
  vertical-align: -20%;
  cursor: pointer;
  opacity: 0.4;
}
.json-view .jv-chevron:hover {
  opacity: 0.8;
}
.json-view .jv-button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.json-view .cursor-pointer {
  cursor: pointer;
}

/* Code mirror */

.cm-content {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  max-width: fit-content;
  padding: 0.5rem 0;
}
